{% extends '__base.html' %}

{% load cms_tags menu_tags thumbnail %}

{% block content %}
    <h1>{% page_attribute "page_title" %}</h1>

    {% show_breadcrumb 0 "menu/breadcrumb.html" 0 %}

    <h2>{{ item.title }}</h2>

    <p>
        <img src="{% thumbnail item.img 886x500 crop %}">
    </p>

    {{ item.content|safe }}
{% endblock %}