{% extends '__base.html' %}

{% block content %}
    <h1>Статьи</h1>

    <div class="breadcrumbs">
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Статьи</a></li>
        </ul>
    </div>
    <div class="art_list">
        <ul>
            <li class="meta_min">
                <div class="art_list-meta">54</div>
                <div class="art_list-content"><a href="#">Состоялось очередное заседание Совета директоров ОАО институт "УралНИИАС"</a></div>
            </li>
            <li class="meta_min">
                <div class="art_list-meta">53</div>
                <div class="art_list-content"><a href="#">ОАО институт «УралНИИАС» продолжает заниматься разработкой рабоче\й документации и ведением авторского надзора по объекту: «Завод по производству соединительных деталей трубопроводов в г. Чайковский Пермского края»</a></div>
            </li>
            <li class="meta_min">
                <div class="art_list-meta">52</div>
                <div class="art_list-content"><a href="#">Главный конструктор ОАО институт «УралНИИАС» В.Е. Маргулян награжден Знаком отличия за заслуги перед Свердловской областью</a></div>
            </li>
            <li class="meta_min">
                <div class="art_list-meta">51</div>
                <div class="art_list-content"><a href="#">ОАО институт "УралНИИАС" Поздравляет с Днем России!</a></div>
            </li>
            <li class="meta_min">
                <div class="art_list-meta">50</div>
                <div class="art_list-content"><a href="#">Состоялось очередное заседание Совета директоров ОАО институт "УралНИИАС"</a></div>
            </li>
            <li class="meta_min">
                <div class="art_list-meta">49</div>
                <div class="art_list-content"><a href="#">Главный конструктор ОАО институт «УралНИИАС» В.Е. Маргулян награжден Знаком отличия за заслуги перед Свердловской областью</a></div>
            </li>
        </ul>
    </div>

    <div class="paging for-arts">
        <ul>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">20</a></li>
        </ul>
    </div>
{% endblock %}