{% extends '__base.html' %}

{% block content %}
    <h1>Направления деятельности</h1>

    <div class="breadcrumbs">
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Направления деятельности</a></li>
        </ul>
    </div>

    <div class="direction-list">
        <ul>
            <li class="left">
                <div class="img">
                    <a href="#"><img src="{{ STATIC_URL }}img/data/solution-1.png"></a>
                </div>
                <div class="text">
                    <h3><a href="#">Проектирование промышленных, гражданских и вспомогательных объектов</a></h3>
                </div>
                <br class="clear">
            </li>
            <li class="right">
                <div class="img">
                    <a href="#"><img src="{{ STATIC_URL }}img/data/solution-2.png"></a>
                </div>
                <div class="text">
                    <h3><a href="#">Проведение комплексных инженерных изысканий</a></h3>

                    <p>Инженерные изыскания являются одним из важнейших видов строительной деятельности, с них начинается любой процесс строительства и эксплуатации объектов. </p>
                    <p>Комплексный подход, объединяющий различные виды инженерных изысканий позволяет проводить разностороннее и своевременное обследование строительных площадок, зданий и сооружений.</p>
                </div>
                <br class="clear">
            </li>
            <li class="left">
                <div class="img">
                    <a href="#"><img src="{{ STATIC_URL }}img/data/solution-3.png"></a>
                </div>
                <div class="text">
                    <h3><a href="#">Проведение комплексных инженерных изысканий</a></h3>

                    <p>Инженерные изыскания являются одним из важнейших видов строительной деятельности, с них начинается любой процесс строительства и эксплуатации объектов. </p>
                    <p>Комплексный подход, объединяющий различные виды инженерных изысканий позволяет проводить разностороннее и своевременное обследование строительных площадок, зданий и сооружений.</p>
                </div>
                <br class="clear">
            </li>
            <li class="right">
                <div class="img">
                    <a href="#"><img src="{{ STATIC_URL }}img/data/solution-4.png"></a>
                </div>
                <div class="text">
                    <h3><a href="#">Проведение строительно-технических экспертиз</a></h3>

                    <p>Инженерные изыскания являются одним из важнейших видов строительной деятельности, с них начинается любой процесс строительства и эксплуатации объектов. </p>
                    <p>Комплексный подход, объединяющий различные виды инженерных изысканий позволяет проводить разностороннее и своевременное обследование строительных площадок, зданий и сооружений.</p>
                </div>
                <br class="clear">
            </li>
            <li class="left">
                <div class="img">
                    <a href="#"><img src="{{ STATIC_URL }}img/data/solution-5.png"></a>
                </div>
                <div class="text">
                    <h3><a href="#">Организация негосудартственной экспертизы проектной документации и инженерных изысканий</a></h3>

                    <p>Инженерные изыскания являются одним из важнейших видов строительной деятельности, с них начинается любой процесс строительства и эксплуатации объектов. </p>
                    <p>Комплексный подход, объединяющий различные виды инженерных изысканий позволяет проводить разностороннее и своевременное обследование строительных площадок, зданий и сооружений.</p>
                </div>
                <br class="clear">
            </li>
            <li class="right">
                <div class="img">
                    <a href="#"><img src="{{ STATIC_URL }}img/data/solution-6.png"></a>
                </div>
                <div class="text">
                    <h3><a href="#">Выполнение строительно-монтажных и ремонтных работ</a></h3>

                    <p>Инженерные изыскания являются одним из важнейших видов строительной деятельности, с них начинается любой процесс строительства и эксплуатации объектов. </p>
                    <p>Комплексный подход, объединяющий различные виды инженерных изысканий позволяет проводить разностороннее и своевременное обследование строительных площадок, зданий и сооружений.</p>
                </div>
                <br class="clear">
            </li>
            <li class="left">
                <div class="img">
                    <a href="#"><img src="{{ STATIC_URL }}img/data/solution-7.png"></a>
                </div>
                <div class="text">
                    <h3><a href="#">Выполнение работ по укреплению грунтов</a></h3>

                    <p>Инженерные изыскания являются одним из важнейших видов строительной деятельности, с них начинается любой процесс строительства и эксплуатации объектов. </p>
                    <p>Комплексный подход, объединяющий различные виды инженерных изысканий позволяет проводить разностороннее и своевременное обследование строительных площадок, зданий и сооружений.</p>
                </div>
                <br class="clear">
            </li>
        </ul>
    </div>

{% endblock %}