{% extends '__base.html' %}

{% block content %}
    <h1>Статьи</h1>

    <div class="breadcrumbs">
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Отзывы</a></li>
        </ul>
    </div>
    <div class="feedback_list">
        <ul>
            {% for i in "xxxxxxxxxx" %}
            <li>
                <div class="feedback_list-item">
                    <h2>Отзыв от компании Гринлайт</h2>
                    <div>
                        <img src="{{ STATIC_URL }}img/data/feedback_logo-1.png">
                    </div>
                    <p>Будущее за безопасным и экономичным светодиодным освещением. В этом уверена компания «Green light», которая занимается поставками и монтажом светодиодных систем искусственного освещения. «Green light» работает с 2011 года — можно сказать, с момента появления светодиодных ламп на рынке. «Промо Эксперт» работает над оптимизацией сайта с 1 июня 2014 г. За это время были достигнуты следующие цели:</p>
                    <p>
                        • Устранены последствия хакерской атаки на сайт: в частности, мы убрали ссылки на вредоносные ресурсы.<br>
                        • Проведены консультации с технической поддержкой Яндекса. С сайта снят фильтр АГС.<br>
                        • более 75% запросов находятся в ТОП-10 Яндекса.<br>
                    </p>
                    <strong class="pull-right">Бабий О. В., Директор ООО «Гринлайт»</strong>
                    <br class="clear">
                    <br>

                    <div class="file">
                        <a href="#">Благодарственное письмо</a><br>
                        <span>(document.doc)</span>
                    </div>

                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="paging">
        <ul>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">20</a></li>
        </ul>
    </div>
{% endblock %}