{% extends '__base.html' %}

{% block container %}
<div class="direction-block">
    <div class="container">
        <div class="row border-padding">
            <div class="col-xs-12">
                <div class="content">
                    <h3 class="arrow-right">
                        <a href="#">Направления деятельности</a>
                    </h3>

                    <div class="container-fuild">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="direction-item" data-content="Обследование строительных конструкций зданийи сооружений с подготовкой заключения о техническом состоянии и рекомендаций по дальнейшей эксплуатации">
                                    <a href="#"><img src="{{ STATIC_URL }}img/data/solution-1.png"></a>
                                    <a href="#" class="text">Проектирование промышленных, гражданских и вспомогательных объектов</a>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="direction-item" data-content="Обследование строительных конструкций зданийи сооружений с подготовкой заключения о техническом состоянии и рекомендаций по дальнейшей эксплуатации">
                                    <a href="#"><img src="{{ STATIC_URL }}img/data/solution-2.png"></a>
                                    <a href="#" class="text">Проведение комплексных инженерных изысканий</a>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="direction-item" data-content="Обследование строительных конструкций зданийи сооружений с подготовкой заключения о техническом состоянии и рекомендаций по дальнейшей эксплуатации">
                                    <a href="#"><img src="{{ STATIC_URL }}img/data/solution-3.png"></a>
                                    <a href="#" class="text">Обследование строительных конструкций зданийи сооружений</a>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="direction-item" data-content="Обследование строительных конструкций зданийи сооружений с подготовкой заключения о техническом состоянии и рекомендаций по дальнейшей эксплуатации">
                                    <a href="#"><img src="{{ STATIC_URL }}img/data/solution-4.png"></a>
                                    <a href="#" class="text">Проведение строительно-технических экспертиз</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="direction-item" data-content="Обследование строительных конструкций зданийи сооружений с подготовкой заключения о техническом состоянии и рекомендаций по дальнейшей эксплуатации">
                                    <a href="#"><img src="{{ STATIC_URL }}img/data/solution-5.png"></a>
                                    <a href="#" class="text">Организация негосудартственной экспертизы проектной документации и инженерных изысканий</a>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="direction-item" data-content="Обследование строительных конструкций зданийи сооружений с подготовкой заключения о техническом состоянии и рекомендаций по дальнейшей эксплуатации">
                                    <a href="#"><img src="{{ STATIC_URL }}img/data/solution-6.png"></a>
                                    <a href="#" class="text">Выполнение строительно-монтажных и ремонтных работ</a>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="direction-item" data-content="Обследование строительных конструкций зданийи сооружений с подготовкой заключения о техническом состоянии и рекомендаций по дальнейшей эксплуатации">
                                    <a href="#"><img src="{{ STATIC_URL }}img/data/solution-7.png"></a>
                                    <a href="#" class="text">Выполнение работ по укреплению грунтов</a>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="direction-item" data-content="Обследование строительных конструкций зданийи сооружений с подготовкой заключения о техническом состоянии и рекомендаций по дальнейшей эксплуатации">
                                    <a href="#"><img src="{{ STATIC_URL }}img/data/solution-8.png"></a>
                                    <a href="#" class="text">Выполнение строительно-монтажных и ремонтных работ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row border-padding">
        <div class="col-xs-12">
            <div class="content">

                <div class="solution">
                    <h3 class="arrow-right">
                        <a href="#">Отраслевые решения</a>
                    </h3>

                    <div class="container-fuild">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="solution-item">
                                    <a href="#">
                                        <img src="{{ STATIC_URL }}img/data/direction-1.png">
                                        <div class="plate">
                                            <div class="title">Гражданское строительство</div>
                                            <div class="description">Проектирование и строительство зданий, сооружений</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="solution-item">
                                    <a href="#">
                                        <img src="{{ STATIC_URL }}img/data/direction-2.png">
                                        <div class="plate">
                                            <div class="title">Промышленность</div>
                                            <div class="description">Проектирование и строительство зданий, сооружений</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="solution-item">
                                    <a href="#">
                                        <img src="{{ STATIC_URL }}img/data/direction-3.png">
                                        <div class="plate">
                                            <div class="title">Электроэнергетика</div>
                                            <div class="description">Проектирование и строительство зданий, сооружений</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="solution-item">
                                    <a href="#">
                                        <img src="{{ STATIC_URL }}img/data/direction-4.png">
                                        <div class="plate">
                                            <div class="title">Энергетика</div>
                                            <div class="description">Проектирование и строительство зданий, сооружений</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="container-fuild">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="index-description-block">
                                <h4 class="index-h4 arrow-right"><a href="#">Инженерные изыскания СЕО</a></h4>

                                <p>Инженерные изыскания являются одним из важнейших видов строительной деятельности, с них начинается любой процесс строительства и эксплуатации объектов. </p>
                                <p>Комплексный подход, объединяющий различные виды инженерных изысканий позволяет проводить разностороннее и своевременное обследование строительных площадок, зданий и сооружений.</p>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="index-news-block">
                                <h4 class="index-h4 arrow-right"><a href="#">Новости НИИАС-центра</a></h4>

                                <div class="content-inner-list">
                                    <ul>
                                        <li>
                                            <div>21 июля 2014</div>
                                            <a href="#">Состоялось очередное заседание Совета директоров ОАО институт "УралНИИАС".</a>
                                        </li>
                                        <li>
                                            <div>21 июля 2014</div>
                                            <a href="#">Главный конструктор ОАО институт «УралНИИАС» В.Е. Маргулян награжден Знаком отличия за заслуги перед Свердловской областью</a>
                                        </li>
                                        <li>
                                            <div>21 июля 2014</div>
                                            <a href="#">ОАО институт "УралНИИАС" Поздравляет с Днем России!</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="index-articles-block">
                                <h4 class="index-h4 arrow-right"><a href="#">Последние статьи на сайте</a></h4>

                                <div class="content-inner-list">
                                    <ul>
                                        <li>
                                            <a href="#">Анализ расчетов осадок в нелинейной стадии работы грунта</a>
                                        </li>
                                        <li>
                                            <a href="#">Способы определения нелинейных деформаций</a>
                                        </li>
                                        <li>
                                            <a href="#">Анализ нелинейных осадок условного фундамента</a>
                                        </li>
                                        <li>
                                            <a href="#">Анализ реального испытания грунта штампом</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}