{% extends '__base.html' %}

{% block content %}
    <h1>Статьи</h1>

    <div class="breadcrumbs">
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Проекты</a></li>
        </ul>
    </div>
    <div class="project_list">
        <ul>
            <li>
                <a href="#">
                    <div class="img"><img src="{{ STATIC_URL }}img/data/project-1.png"></div>
                    <span>ПС 110/35/6 кВ "Бурная" в г. Владивосток Приморского края</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="img"><img src="{{ STATIC_URL }}img/data/project-2.png"></div>
                    <span>Стадион г. Саранск</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="img"><img src="{{ STATIC_URL }}img/data/project-3.png"></div>
                    <span>Нижнесергинский метизно - металлургический завод (ОАО “НСММЗ”), г. Нижние Серги</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="img"><img src="{{ STATIC_URL }}img/data/project-4.png"></div>
                    <span>200 квартирный жилой дом по ул. Просторная в Чкаловском районе г. Екатеринбурга</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="img"><img src="{{ STATIC_URL }}img/data/project-5.png"></div>
                    <span>Спортивный корпус базы Автомобилист, с. Курганово</span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}