{% extends '__base.html' %}

{% block content %}
    <h1>Направления деятельности</h1>

    <div class="breadcrumbs">
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Направления деятельности</a></li>
        </ul>
    </div>

    <div class="direction-list direction-list__big">
        <ul>
            <li class="left">
                <div class="img">
                    <a href="#"><img src="{{ STATIC_URL }}img/data/direction-1.png"></a>
                </div>
                <div class="text">
                    <h3><a href="#">Гражданское строительство</a></h3>

                    <p>Инженерные изыскания являются одним из важнейших видов строительной деятельности, с них начинается любой процесс строительства и эксплуатации объектов. </p>
                    <p>Комплексный подход, объединяющий различные виды инженерных изысканий позволяет проводить разностороннее и своевременное обследование строительных площадок, зданий и сооружений.</p>
                </div>
                <br class="clear">
            </li>
            <li class="right">
                <div class="img">
                    <a href="#"><img src="{{ STATIC_URL }}img/data/direction-2.png"></a>
                </div>
                <div class="text">
                    <h3><a href="#">Гражданское строительство</a></h3>

                    <p>Инженерные изыскания являются одним из важнейших видов строительной деятельности, с них начинается любой процесс строительства и эксплуатации объектов. </p>
                    <p>Комплексный подход, объединяющий различные виды инженерных изысканий позволяет проводить разностороннее и своевременное обследование строительных площадок, зданий и сооружений.</p>
                </div>
                <br class="clear">
            </li>
            <li class="left">
                <div class="img">
                    <a href="#"><img src="{{ STATIC_URL }}img/data/direction-3.png"></a>
                </div>
                <div class="text">
                    <h3><a href="#">Электроэнергетика</a></h3>

                    <p>Инженерные изыскания являются одним из важнейших видов строительной деятельности, с них начинается любой процесс строительства и эксплуатации объектов. </p>
                    <p>Комплексный подход, объединяющий различные виды инженерных изысканий позволяет проводить разностороннее и своевременное обследование строительных площадок, зданий и сооружений.</p>
                </div>
                <br class="clear">
            </li>
            <li class="right">
                <div class="img">
                    <a href="#"><img src="{{ STATIC_URL }}img/data/direction-4.png"></a>
                </div>
                <div class="text">
                    <h3><a href="#">Энергетика</a></h3>

                    <p>Инженерные изыскания являются одним из важнейших видов строительной деятельности, с них начинается любой процесс строительства и эксплуатации объектов. </p>
                    <p>Комплексный подход, объединяющий различные виды инженерных изысканий позволяет проводить разностороннее и своевременное обследование строительных площадок, зданий и сооружений.</p>
                </div>
                <br class="clear">
            </li>
        </ul>
    </div>

{% endblock %}