{% extends '__base.html' %}

{% load cms_tags menu_tags thumbnail %}

{% block content %}
    <h1>{% page_attribute "page_title" %}</h1>

    {% show_breadcrumb 0 "menu/breadcrumb.html" %}

    <div class="art_list">
        <ul>
            {% for i in items %}
            <li class="meta_min">
                <div class="art_list-meta">{{ forloop.revcounter }}</div>
                <div class="art_list-content"><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
