.direction-block {
    background: url('../img/plate-bg.png');

    .content {
        border-top: 4px solid @menu-link-hover;
        border-bottom: 4px solid @menu-link-hover;
        margin: 0 0 -4px 0;
        padding: 15px 0 30px 0;

        h3 {
            .index-h3;
        }
    }

    .owl-carousel {
        padding: 0 70px;
    }

    .owl-stage-outer {
        z-index: 2;
    }

    .owl-dots {
        margin-top: 10px;
    }

    .owl-nav {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        margin: 0;

        .owl-prev, .owl-next {
            border-radius: 0;
            margin: 0;
            padding: 0;
            width: 40px;
            height: 295px;
            background: rgba(255,255,255,0.7);
            transition: background .1s ease-in-out;
            font-size: 82px;
            color: rgb(150,150,150);
            position: relative;

            .lsaquo, .rsaquo {
                transition: all .1s ease-in-out;
                position: absolute;
                left: 50%;
                top: 50%;
                width: 100%;
                margin-left: -20px;
                margin-top: -65px;
            }

            &:hover {
                background: rgba(255,255,255,0.8);
                color: rgb(50,50,50);

                .lsaquo {
                    margin-left: -25px;
                }
                .rsaquo {
                    margin-left: -15px;
                }
            }
        }

        .owl-prev {
            float: left;
        }

        .owl-next {
            float: right;
        }
    }

    .direction-item {
        position: relative;
        overflow: hidden;
        border-radius: 3px;
        z-index: 100;

        .title {
            color: #FFFFFF;
            padding: 5px 10px;
            background-color: rgba(0,0,0,0.4);
            position: absolute;
            bottom: 0;
            width: 100%;

            transition: all .3s ease-in-out;
            opacity: 1;
        }

        .description {
            color: #FFFFFF;
            padding: 10px 15px;
            background-color: rgba(0,0,0,0.4);
            position: absolute;
            font-size: 16px;
            bottom: 0;
            right: 0;
            top: 0;
            left: 0;

            transition: all .3s ease-in-out;
            opacity: 0;
        }

        img {
            transition: all .3s ease-in-out;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            -webkit-filter: blur(0);
            filter: blur(0);
        }

        &:hover {
            .title {
                opacity: 0;
            }

            .description {
                opacity: 1;
            }

            img {
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
                -webkit-filter: blur(5px);
                filter: blur(5px);
            }
        }
    }
}