.news {
    margin: 20px 0 0 0;

    a {
        text-decoration: none;
        color: rgb(0,0,0);
    }

    h3 {
        .index-h3;
        margin-bottom: 20px;
    }

    .item {
        .image {
            position: relative;
            overflow: hidden;
            border-radius: 3px;

            img {
                transition: all .3s ease-in-out;
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
            }
        }

        &:hover {
            .image {
                img {
                    -webkit-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }
        }
    }

    .right-item {
        transition: all .3s ease-in-out;
        margin-bottom: 10px;

        .image {
            margin-right: 10px;
            max-height: 100px;
        }
        .date {
            margin-top: 3px;
            font-size: 12px;
        }
        &:hover {
            background-color: rgba(113, 186, 228, 0.1) ;
            .title {
                color: rgb(48, 106, 138);
            }
        }
    }

    .head-item {
        .image {
            max-height: 320px;

            .title {
                position: absolute;
                bottom: 0;
                color: rgb(255,255,255);
                background: rgba(0,0,0,0.4);
                padding: 10px 15px;
                margin: 10px;
                z-index: 1;
            }
            .date {
                position: absolute;
                top: 0;
                color: rgb(255,255,255);
                background: rgba(0,0,0,0.4);
                padding: 5px 10px;
                z-index: 1;
            }
        }
    }
}