div.social {
  float: left;
  margin: 0 1em 0 0;
  padding: 1em 0;

  .social-link {
    display: inline-block;
    margin: 0 10px 0 0;

    img {
      width: 30px;
      height: 30px;
      border-radius: 3px;
    }
  }
}