@import "../fonts/opensans_light_cyrillic/stylesheet.css";
@import "../fonts/opensans_regular_cyrillic/stylesheet.css";
@import "../fonts/opensans_bold_cyrillic/stylesheet.css";
@import "../fonts/opensanscondensed_bold_cyrillic/stylesheet.css";

//@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/bootstrap/less/mixins.less";
@import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/bootstrap/less/normalize.less";
@import "../bower_components/bootstrap/less/scaffolding.less";
@import "../bower_components/bootstrap/less/grid.less";
@import "../bower_components/bootstrap/less/forms.less";
@import "../bower_components/bootstrap/less/utilities.less";
@import "../bower_components/bootstrap/less/responsive-utilities.less";

@import "../bower_components/owl.carousel/dist/assets/owl.carousel.min.css";
@import "../bower_components/owl.carousel/dist/assets/owl.theme.default.min.css";

@import "social";
@import "direction";
@import "news";


/* vars */
@purpure-color: #382a42;

@border-padding: 27px;
@menu-link: @purpure-color;
@menu-link-hover: #d67e2a;
@link-color: #368fc0;

@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;

@input-height-base:         40px;

@state-danger-text:         #ff0000;

/* mixins and utils */
.ul_clear() {
  list-style: none;
  margin: 0; padding: 0;

  li {
    margin: 0; padding: 0;
  }
}
.regular {font-family: "open_sansregular", Arial, sans-serif; }
.light {font-family: "open_sanslight", Arial, sans-serif; }
.bold {font-family: "open_sansbold", Arial, sans-serif; }
.cond_bold {font-family: "open_sans_condensedbold", Arial, sans-serif; }

.clear {
  clear: both;
}
.index-h3() {
  font-size: 30px;
  .cond_bold;
  font-weight: normal;
  margin: 0 0 15px;

  &.arrow-right {
    a {
      text-decoration: none;
      color: #000;
      &:hover {
        color: @menu-link-hover;
      }
    }
    &:after {
      content: '';
      display: inline-block;
      width: 32px;
      height: 32px;
      background: url('../img/arrow-right.png') no-repeat;
      position: relative;
      top: 4px;
    }
  }
}
.index-h4() {
  font-size: 24px;
  .cond_bold;
  font-weight: normal;
  margin: 0 0 15px;

  &.arrow-right {
    a {
      text-decoration: none;
      color: #000;
      &:hover {
        color: @menu-link-hover;
      }
    }
    &:after {
      content: '';
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url('../img/arrow-right-min.png') no-repeat;
      position: relative;
      top: 4px;
      left: 5px;
    }
  }
}

/* base style */

.row.border-padding {
  padding: 0 @border-padding;
}
html {
  height: 100%;
}
body {
  .regular;
  height: 100%;
  min-width: 970px !important;
}
.container {
  min-width: 970px !important;
}
a {
  text-decoration: underline;
}
h1  {
  font-size: 48px;
  .cond_bold;
  font-weight: normal;
  margin: 0 0 30px ;
}
h2  {
  font-size: 36px;
  .cond_bold;
  font-weight: normal;
  margin: 0 0 20px ;
}
strong {.bold;}

/* blocks */
.head {
  margin-bottom: 60px;

  &:before {
    content: '';
    display: block;
    height: 18px;
    background: url('../img/plate-bg.png');
    margin: 0 0 32px;
  }
  .logo {
    margin-left: -10px;
  }
  .site-title {
    font-size: 24px;
    .light;
    margin: -8px 0 0;
    line-height: 28px;
  }
  .phones {
    .bold;
    font-size: 18px;
    span {
      margin: 0 24px 0 0;
    }
  }

  .menu {
    margin: 21px 0 0;
    position: relative;

    ul {
      .ul_clear;
      font-size: 18px;

      li {
        .light;
        display: inline-block;

        &:after {
          content: '|';
          .bold;
          margin: 0 11px;
        }

        &:last-child {
          &:after {
            display: none;
          }
        }
        & > a,
        & > span {
          padding: 0 7px;
          display: inline-block;
        }
        &.active {
          & > a,
          & > span {
            background: @menu-link-hover;
            color: #fff;
            &:hover { color: #fff; }
          }
        }
        &.active,
        &.has_inner {
          margin-bottom: 0px;
        }

        a {
          color: @menu-link;
          text-decoration: none;
          &:hover {
            color: @menu-link-hover;
          }
        }

        ul {
          position: absolute;
          left: 0;
          top: 40px;
          display: inline-block;
          font-size: 14px;

          li {
            &:after {
              content: '|';
              .light;
              margin: 0 6px;
            }
            & > a,
            & > span {
              padding: 0 7px;
            }
            &.active {
              & > a,
              & > span {
                background: @purpure-color;
                &:hover { color: #fff; }
              }
            }
          }
        }
      }
    }
  }
}
.content {
  margin-bottom: 60px;

}

.solution {
  margin: 20px 0;
  h3 {
    .index-h3;
    margin-bottom: 20px;
  }
  .solution-item {
    height: 260px;
    position: relative;
    margin: 0 0 21px;
    a {
      color: #fff;
      text-decoration: none;
    }
    img {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
    }
    .plate {
      padding: 18px 23px;
      position: absolute;
      width: 100%;
      z-index: 10;
      bottom: 0;

      .title {
        font-size: 18px;
        margin: 0 0 10px;

        &:after {
          content: '';
          display: inline-block;
          width: 24px;
          height: 24px;
          background: url('../img/arrow-right-min-white.png') no-repeat;
          position: relative;
          top: 4px;
          left: 5px;
        }
      }
      .description {
        display: none;
        color: @link-color;
      }
    }
    &:hover {
      .plate {
        background: rgba(0,0,0, 0.5);
        .description {
          display: block;
        }
      }
    }
  }
}

.index-h4  {
  .index-h4;
}

.index-description-block,
.index-news-block,
.index-articles-block {
  border-top: 4px solid transparent;
  padding: 20px 0 0 0;
}

.index-description-block {border-color: @menu-link-hover;}
.index-news-block {border-color: @purpure-color;}
.index-articles-block {border-color: #71bae4;}

.content-inner-list {
  ul {
    .ul_clear;

    li {
      margin: 0 0 25px;
      a {
        text-decoration: none;
        a:hover {
          color: @menu-link-hover;
        }
      }
    }
  }
}

.breadcrumbs {
  margin: -30px 0 20px;
  ul {
    .ul_clear();
    li {
      display: inline-block;
      &:after {
        content: '/';
        margin: 0 2px 0 4px;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
      a, span {
        color: lighten(@purpure-color, 20%);
        text-decoration: none;
        &:hover {
          color: @menu-link-hover;
        }
      }
    }
  }
}

.direction-list {
  ul {
    .ul_clear;
    li {
      border-bottom: 1px solid #cccccc;
      padding: 30px 0;

      h3 {
        font-size: 30px;
        line-height: 32px;
        margin: 0 0 10px;
        .cond_bold;
        font-weight: normal;
        a {
          text-decoration: none;
        }
      }

      .img {
        width: 168px;
      }
      &.left {
        .img {
          float: left;
          margin-left: -195px;
        }
        padding-left: 195px;
      }
      &.right {
        .img {
          float: right;
          margin-right: -195px;
        }
        padding-right: 195px;
      }

      &:last-child {
        border: none;
      }
    }
  }
  &__big {
    ul {
      li {
        .img {
          width: 434px;
        }
        &.left {
          .img { margin-left: -454px; }
          padding-left: 454px;
        }
        &.right {
          .img { margin-right: -454px; }
          padding-right: 454px;
        }
      }
    }
  }
}

.art_list {
  ul {
    .ul_clear;

    li {
      .art_list-meta {
        font-size: 18px;
        .light;
        float: left;
        width: 45px;
        margin-left: -45px;
        margin-top: 8px;
      }
      .art_list-content {
        .cond_bold;
        font-weight: normal;
        font-size: 30px;
        padding: 0 0 20px;
        a {
          text-decoration: none;
        }
        border-bottom: 1px solid #ccc;
      }
      &:after {
        content: '';
        clear: both;
        display: block;
      }
      padding-left: 45px;
      margin: 0 0 20px;

      &.meta_min {}
      &.meta_normal {
        .art_list-meta {
          width: 107px;
          margin-left: -107px;
        }
        padding-left: 107px;
      }
    }
  }
}

.paging {
  ul {
    .ul_clear;
    line-height: 30px;
    font-size: 18px;
    .light;

    li {
      display: inline-block;
      margin: 0 5px;

      & > * {
        color: @purpure-color;
        padding: 0 8px;
        text-decoration: none;
      }
      &.active {
        background: @menu-link-hover;
        & > * {
          color: #fff;
        }
      }
    }
  }

  &.for-arts { margin-left: 40px; }
  &.for-news { margin-left: 102px; }
}


.contacts-block {
  background: url('../img/plate-bg.png');
  margin: 0 0 20px;
}

.overlay {
  background: url('../img/overlay-bg.png');
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  display: none;
  overflow-x: auto;
  padding-bottom: 200px;

  .modal {
    width: 886px;
    height: auto;
    position: absolute;
    left: 50%;
    margin-left: -443px;
    background: #fff;
    z-index: 110;
    margin-top: 230px;
    margin-bottom: 100px;

    .close {
      position: absolute;
      top: 10px;
      right: 10px;

      a {
        display: inline-block;
        background: url('../img/close.png') no-repeat;
        height: 22px;
        width: 22px;
      }
    }
    .modal-inner {
      margin: 50px 40px;
      position: relative;
      .breadcrumbs {
        position: relative;
        margin-top: -30px;
      }
    }
  }
}

.feedback_list {
  ul {
    .ul_clear;

    .feedback_list-item {
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
  }
}
.project_list {
  ul {
    .ul_clear;
    margin-right: -3%;

    li {
      width: 30%;
      .box-shadow(0 0 5px rgba(0,0,0, .22));
      float: left;
      height: 315px;
      margin: 0 3% 30px 0;

      a {
        text-decoration: none;
      }
      .img {
        height: 215px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      span {
        display: block;
        margin: 20px 20px 0 20px;
        position: relative;
        overflow: hidden;
        max-height: 60px;
      }
    }
  }
}

.certs_list {
  ul {
    .ul_clear;
    margin-right: -2%;

    li {
      width: 23%;
      float: left;
      margin: 0 2% 30px 0;
      text-align: center;
      a {
        text-decoration: none;
      }
      .img {
        margin: 0 0 10px;
        img {
          .box-shadow(0 0 5px rgba(0,0,0, .22));
        }
      }
    }
  }
}

.file {
  background: url('../img/icon-file.png') no-repeat left center;
  padding-left: 30px;
  a {
    text-decoration: none;
  }
}

.img_description {
  .bold;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  display: block;
}


.reference {
  .date {
    .light;
  }
  .title {
    .cond_bold;
    font-size: 18px;
    a {
      text-decoration: none;
    }
  }
}



.bottom {
  background: #333333 url('../img/bottom-bg.png');
  color: #fff;
  padding: 30px 0;
  font-size: 14px;

  a {
    color: #fff;
  }
  .copy {
    .sign {
      position: relative;
      margin: 0 0 0 -16px;
    }
  }

  p {
    margin: 0 0 14px;
    line-height: 21px;
  }

  .bottom-menu {
    ul {
      .ul_clear;
      .light;

      li {
        margin: 0 0 12px 0;

        a {
          @bottom-menu-color: #71bae4;
          color: @bottom-menu-color;
          text-decoration: none;

          &:hover {
            color: lighten(@bottom-menu-color, 10%);
          }
        }
      }
    }
  }
}


/* elemets */
.form-control {
  .light;
  .box-shadow(none);
}
.btn {
  background: @purpure-color;
  color: #fff;
  .light;
  line-height: 50px;
  height: 50px;
  border: none;
  padding: 0 15px;
  font-size: 18px;
}
.has-error {
  position: relative;
  &:after {
    content: '!';
    .bold;
    position: absolute;
    right: 14px;
    font-size: 18px;
    color: @state-danger-text;
    top: 33px;
  }
}