{% extends '__base.html' %}

{% load cms_tags menu_tags thumbnail %}

{% block content %}
    <h1>{% page_attribute "page_title" %}</h1>

    {% show_breadcrumb 0 "menu/breadcrumb.html" %}
    <br class="clear">

    <div class="certs_list">
        <ul>
            {% for i in items %}
            <li>
                <a href="{{ i.img.url }}">
                    <div class="img"><img src="{% thumbnail i.img 155x213 crop %}"></div>
                    <span>{{ i.title }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}