
{% load cms_tags menu_tags thumbnail %}


{% show_breadcrumb 0 "menu/breadcrumb.html" 0 %}

<div class="title">
    <h2>{{ item.title }}</h2>
    <span>{{ item.created|date:'d E Y'}}</span>
</div>
<div class="data">
    {{ item.content|safe }}
</div>

{% load news_tags %}
{% ref_news item.pk %}