{% extends '__base.html' %}

{% load cms_tags menu_tags thumbnail %}

{% block popover %}
    <div class="overlay">
        <div class="modal">
            <div class="close"><a href="#"></a></div>

            <div class="modal-inner" id="modal-data">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <h1>{% page_attribute "page_title" %}</h1>

    {% show_breadcrumb 0 "menu/breadcrumb.html" %}

    <div class="art_list">
        <ul>
            {% for i in items %}
            <li class="meta_normal">
                <div class="art_list-meta">{{ i.created|date:'j.n.Y' }}</div>
                <div class="art_list-content"><a href="{{ i.get_absolute_url }}" class="ajax-news-item">{{ i.title }}</a></div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
