<div class="content-inner-list">
    <ul>
        {% for i in items %}
        <li>
            <a href="{{ i.get_absolute_url }}">{{ i.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>