{% load grouper thumbnail %}

<div id="directions-carousel" class="owl-carousel owl-theme">
    {% for i in items %}
        <div>
            <a href="{{ i.get_absolute_url }}">
                <div class="direction-item">
                    <img src="{% thumbnail i.img 300x300 crop %}">
                    <div class="title">{{ i.title }}</div>
                    <div class="description">
                        {% if i.description %}
                            {{ i.description }}
                        {% else %}
                            {{ i.title }}
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>