<form action="{{ request.PATH_INFO }}" method="POST">
    {% csrf_token %}
    {% for i in form %}
        <div class="form-group {% if i.errors %}has-error{% endif %}">
            <label for="id_{{ i.name }}">{{ i.label }}</label>
            {{ i }}
            {% for e in i.errors %}
                <div class="input-group-addon">{{ e }}</div>
            {% endfor %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-default">Отправить</button>
</form>

<script type="text/javascript">
    if ( $ != undefined ) {
        $(document).ready(function(){
            $('#feedback_form form').bind('submit', function(e){
                $.post('/feedback_form/', $(this).serialize(), function(data){
                    $('#feedback_form').html(data);
                })
                return false;
            });

        {% if messages %}
            var messages = '';
            showModal();

            {% for i in messages %}
            messages += "{{ i }}";
            {% endfor %}

            $('#modal-data .data').html(messages);
        {% endif %}
        })
    }
</script>