{% load thumbnail %}

<div class="content-inner-list">
    <div class="row">
        <div class="col-xs-5">
            {% for i in items|slice:":1" %}
                <a href="{{ i.get_absolute_url }}" class="ajax-news-item">
                    <div class="item head-item">
                        <div class="image">
                            <div class="date">{{ i.created|date:'d F Y' }}</div>
                            <div class="title">{{ i.title }}</div>
                            <img src="{% thumbnail i.img 500x320 crop %}">
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="col-xs-7">
            {% for i in items|slice:"1:" %}
                <a href="{{ i.get_absolute_url }}" class="ajax-news-item">
                    <div class="item right-item clearfix">
                        <div class="image pull-left">
                            <img src="{% thumbnail i.img 125x100 crop %}">
                        </div>
                        <div class="date">{{ i.created|date:'d F Y' }}</div>
                        <div class="title">{{ i.title }}</div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
