{% extends '__base.html' %}

{% load cms_tags menu_tags thumbnail %}

{% block content %}
    <h1>{% page_attribute "page_title" %}</h1>

    {% show_breadcrumb 0 "menu/breadcrumb.html" %}

    <div class="direction-list">
        <ul>
            {% for i in items %}
                <li class="left">
                    <div class="img">
                        <img src="{% thumbnail i.photo 167x167 crop %}">
                    </div>
                    <div class="text">
                        <h3>{{ i.last_name }} {{ i.first_name }} {{ i.patronymic }}</h3>
                        <h4>{{ i.position }}</h4>
                        {{ i.description|safe }}
                    </div>
                    <br class="clear">
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}