@import "../fonts/opensans_light_cyrillic/stylesheet.css";
@import "../fonts/opensans_regular_cyrillic/stylesheet.css";
@import "../fonts/opensans_bold_cyrillic/stylesheet.css";
@import "../fonts/opensanscondensed_bold_cyrillic/stylesheet.css";
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
@import "../bower_components/owl.carousel/dist/assets/owl.carousel.min.css";
@import "../bower_components/owl.carousel/dist/assets/owl.theme.default.min.css";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #fff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #368fc0;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #256384;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 0px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
input[type="file"] {
  display: block;
}
input[type="range"] {
  display: block;
  width: 100%;
}
select[multiple],
select[size] {
  height: auto;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
}
.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"] {
    line-height: 40px;
  }
  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm {
    line-height: 30px;
  }
  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg {
    line-height: 46px;
  }
}
.form-group {
  margin-bottom: 15px;
}
.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio label,
.checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed;
}
.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
  cursor: not-allowed;
}
.form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
}
.form-control-static.input-lg,
.form-control-static.input-sm {
  padding-left: 0;
  padding-right: 0;
}
.input-sm,
.form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0px;
}
select.input-sm,
select.form-group-sm .form-control {
  height: 30px;
  line-height: 30px;
}
textarea.input-sm,
textarea.form-group-sm .form-control,
select[multiple].input-sm,
select[multiple].form-group-sm .form-control {
  height: auto;
}
.input-lg,
.form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 0px;
}
select.input-lg,
select.form-group-lg .form-control {
  height: 46px;
  line-height: 46px;
}
textarea.input-lg,
textarea.form-group-lg .form-control,
select[multiple].input-lg,
select[multiple].form-group-lg .form-control {
  height: auto;
}
.has-feedback {
  position: relative;
}
.has-feedback .form-control {
  padding-right: 50px;
}
.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  pointer-events: none;
}
.input-lg + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px;
}
.input-sm + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #3c763d;
}
.has-success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .form-control:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.has-success .input-group-addon {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8;
}
.has-success .form-control-feedback {
  color: #3c763d;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
  color: #8a6d3b;
}
.has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-warning .form-control:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.has-warning .input-group-addon {
  color: #8a6d3b;
  border-color: #8a6d3b;
  background-color: #fcf8e3;
}
.has-warning .form-control-feedback {
  color: #8a6d3b;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #ff0000;
}
.has-error .form-control {
  border-color: #ff0000;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control:focus {
  border-color: #cc0000;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ff6666;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ff6666;
}
.has-error .input-group-addon {
  color: #ff0000;
  border-color: #ff0000;
  background-color: #f2dede;
}
.has-error .form-control-feedback {
  color: #ff0000;
}
.has-feedback label ~ .form-control-feedback {
  top: 25px;
}
.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .form-control-static {
    display: inline-block;
  }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto;
  }
  .form-inline .input-group > .form-control {
    width: 100%;
  }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 27px;
}
.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
  }
}
.form-horizontal .has-feedback .form-control-feedback {
  right: 15px;
}
@media (min-width: 768px) {
  .form-horizontal .form-group-lg .control-label {
    padding-top: 14.3px;
  }
}
@media (min-width: 768px) {
  .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
div.social {
  float: left;
  margin: 0 1em 0 0;
  padding: 1em 0;
}
div.social .social-link {
  display: inline-block;
  margin: 0 10px 0 0;
}
div.social .social-link img {
  width: 30px;
  height: 30px;
  border-radius: 3px;
}
.direction-block {
  background: url('../img/plate-bg.png');
}
.direction-block .content {
  border-top: 4px solid #d67e2a;
  border-bottom: 4px solid #d67e2a;
  margin: 0 0 -4px 0;
  padding: 15px 0 30px 0;
}
.direction-block .content h3 {
  font-size: 30px;
  font-family: "open_sans_condensedbold", Arial, sans-serif;
  font-weight: normal;
  margin: 0 0 15px;
}
.direction-block .content h3.arrow-right a {
  text-decoration: none;
  color: #000;
}
.direction-block .content h3.arrow-right a:hover {
  color: #d67e2a;
}
.direction-block .content h3.arrow-right:after {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url('../img/arrow-right.png') no-repeat;
  position: relative;
  top: 4px;
}
.direction-block .owl-carousel {
  padding: 0 70px;
}
.direction-block .owl-stage-outer {
  z-index: 2;
}
.direction-block .owl-dots {
  margin-top: 10px;
}
.direction-block .owl-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  margin: 0;
}
.direction-block .owl-nav .owl-prev,
.direction-block .owl-nav .owl-next {
  border-radius: 0;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 295px;
  background: rgba(255, 255, 255, 0.7);
  transition: background 0.1s ease-in-out;
  font-size: 82px;
  color: #969696;
  position: relative;
}
.direction-block .owl-nav .owl-prev .lsaquo,
.direction-block .owl-nav .owl-next .lsaquo,
.direction-block .owl-nav .owl-prev .rsaquo,
.direction-block .owl-nav .owl-next .rsaquo {
  transition: all 0.1s ease-in-out;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  margin-left: -20px;
  margin-top: -65px;
}
.direction-block .owl-nav .owl-prev:hover,
.direction-block .owl-nav .owl-next:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #323232;
}
.direction-block .owl-nav .owl-prev:hover .lsaquo,
.direction-block .owl-nav .owl-next:hover .lsaquo {
  margin-left: -25px;
}
.direction-block .owl-nav .owl-prev:hover .rsaquo,
.direction-block .owl-nav .owl-next:hover .rsaquo {
  margin-left: -15px;
}
.direction-block .owl-nav .owl-prev {
  float: left;
}
.direction-block .owl-nav .owl-next {
  float: right;
}
.direction-block .direction-item {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  z-index: 100;
}
.direction-block .direction-item .title {
  color: #FFFFFF;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.direction-block .direction-item .description {
  color: #FFFFFF;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  font-size: 16px;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.direction-block .direction-item img {
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-filter: blur(0);
  filter: blur(0);
}
.direction-block .direction-item:hover .title {
  opacity: 0;
}
.direction-block .direction-item:hover .description {
  opacity: 1;
}
.direction-block .direction-item:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
.news {
  margin: 20px 0 0 0;
}
.news a {
  text-decoration: none;
  color: #000000;
}
.news h3 {
  font-size: 30px;
  font-family: "open_sans_condensedbold", Arial, sans-serif;
  font-weight: normal;
  margin: 0 0 15px;
  margin-bottom: 20px;
}
.news h3.arrow-right a {
  text-decoration: none;
  color: #000;
}
.news h3.arrow-right a:hover {
  color: #d67e2a;
}
.news h3.arrow-right:after {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url('../img/arrow-right.png') no-repeat;
  position: relative;
  top: 4px;
}
.news .item .image {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}
.news .item .image img {
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.news .item:hover .image img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.news .right-item {
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px;
}
.news .right-item .image {
  margin-right: 10px;
  max-height: 100px;
}
.news .right-item .date {
  margin-top: 3px;
  font-size: 12px;
}
.news .right-item:hover {
  background-color: rgba(113, 186, 228, 0.1);
}
.news .right-item:hover .title {
  color: #306a8a;
}
.news .head-item .image {
  max-height: 320px;
}
.news .head-item .image .title {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 15px;
  margin: 10px;
  z-index: 1;
}
.news .head-item .image .date {
  position: absolute;
  top: 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.4);
  padding: 5px 10px;
  z-index: 1;
}
/* vars */
/* mixins and utils */
.regular {
  font-family: "open_sansregular", Arial, sans-serif;
}
.light {
  font-family: "open_sanslight", Arial, sans-serif;
}
.bold {
  font-family: "open_sansbold", Arial, sans-serif;
}
.cond_bold {
  font-family: "open_sans_condensedbold", Arial, sans-serif;
}
.clear {
  clear: both;
}
/* base style */
.row.border-padding {
  padding: 0 27px;
}
html {
  height: 100%;
}
body {
  font-family: "open_sansregular", Arial, sans-serif;
  height: 100%;
  min-width: 970px !important;
}
.container {
  min-width: 970px !important;
}
a {
  text-decoration: underline;
}
h1 {
  font-size: 48px;
  font-family: "open_sans_condensedbold", Arial, sans-serif;
  font-weight: normal;
  margin: 0 0 30px ;
}
h2 {
  font-size: 36px;
  font-family: "open_sans_condensedbold", Arial, sans-serif;
  font-weight: normal;
  margin: 0 0 20px ;
}
strong {
  font-family: "open_sansbold", Arial, sans-serif;
}
/* blocks */
.head {
  margin-bottom: 60px;
}
.head:before {
  content: '';
  display: block;
  height: 18px;
  background: url('../img/plate-bg.png');
  margin: 0 0 32px;
}
.head .logo {
  margin-left: -10px;
}
.head .site-title {
  font-size: 24px;
  font-family: "open_sanslight", Arial, sans-serif;
  margin: -8px 0 0;
  line-height: 28px;
}
.head .phones {
  font-family: "open_sansbold", Arial, sans-serif;
  font-size: 18px;
}
.head .phones span {
  margin: 0 24px 0 0;
}
.head .menu {
  margin: 21px 0 0;
  position: relative;
}
.head .menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
}
.head .menu ul li {
  margin: 0;
  padding: 0;
}
.head .menu ul li {
  font-family: "open_sanslight", Arial, sans-serif;
  display: inline-block;
}
.head .menu ul li:after {
  content: '|';
  font-family: "open_sansbold", Arial, sans-serif;
  margin: 0 11px;
}
.head .menu ul li:last-child:after {
  display: none;
}
.head .menu ul li > a,
.head .menu ul li > span {
  padding: 0 7px;
  display: inline-block;
}
.head .menu ul li.active > a,
.head .menu ul li.active > span {
  background: #d67e2a;
  color: #fff;
}
.head .menu ul li.active > a:hover,
.head .menu ul li.active > span:hover {
  color: #fff;
}
.head .menu ul li.active,
.head .menu ul li.has_inner {
  margin-bottom: 0px;
}
.head .menu ul li a {
  color: #382a42;
  text-decoration: none;
}
.head .menu ul li a:hover {
  color: #d67e2a;
}
.head .menu ul li ul {
  position: absolute;
  left: 0;
  top: 40px;
  display: inline-block;
  font-size: 14px;
}
.head .menu ul li ul li:after {
  content: '|';
  font-family: "open_sanslight", Arial, sans-serif;
  margin: 0 6px;
}
.head .menu ul li ul li > a,
.head .menu ul li ul li > span {
  padding: 0 7px;
}
.head .menu ul li ul li.active > a,
.head .menu ul li ul li.active > span {
  background: #382a42;
}
.head .menu ul li ul li.active > a:hover,
.head .menu ul li ul li.active > span:hover {
  color: #fff;
}
.content {
  margin-bottom: 60px;
}
.solution {
  margin: 20px 0;
}
.solution h3 {
  font-size: 30px;
  font-family: "open_sans_condensedbold", Arial, sans-serif;
  font-weight: normal;
  margin: 0 0 15px;
  margin-bottom: 20px;
}
.solution h3.arrow-right a {
  text-decoration: none;
  color: #000;
}
.solution h3.arrow-right a:hover {
  color: #d67e2a;
}
.solution h3.arrow-right:after {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url('../img/arrow-right.png') no-repeat;
  position: relative;
  top: 4px;
}
.solution .solution-item {
  height: 260px;
  position: relative;
  margin: 0 0 21px;
}
.solution .solution-item a {
  color: #fff;
  text-decoration: none;
}
.solution .solution-item img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.solution .solution-item .plate {
  padding: 18px 23px;
  position: absolute;
  width: 100%;
  z-index: 10;
  bottom: 0;
}
.solution .solution-item .plate .title {
  font-size: 18px;
  margin: 0 0 10px;
}
.solution .solution-item .plate .title:after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../img/arrow-right-min-white.png') no-repeat;
  position: relative;
  top: 4px;
  left: 5px;
}
.solution .solution-item .plate .description {
  display: none;
  color: #368fc0;
}
.solution .solution-item:hover .plate {
  background: rgba(0, 0, 0, 0.5);
}
.solution .solution-item:hover .plate .description {
  display: block;
}
.index-h4 {
  font-size: 24px;
  font-family: "open_sans_condensedbold", Arial, sans-serif;
  font-weight: normal;
  margin: 0 0 15px;
}
.index-h4.arrow-right a {
  text-decoration: none;
  color: #000;
}
.index-h4.arrow-right a:hover {
  color: #d67e2a;
}
.index-h4.arrow-right:after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../img/arrow-right-min.png') no-repeat;
  position: relative;
  top: 4px;
  left: 5px;
}
.index-description-block,
.index-news-block,
.index-articles-block {
  border-top: 4px solid transparent;
  padding: 20px 0 0 0;
}
.index-description-block {
  border-color: #d67e2a;
}
.index-news-block {
  border-color: #382a42;
}
.index-articles-block {
  border-color: #71bae4;
}
.content-inner-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content-inner-list ul li {
  margin: 0;
  padding: 0;
}
.content-inner-list ul li {
  margin: 0 0 25px;
}
.content-inner-list ul li a {
  text-decoration: none;
}
.content-inner-list ul li a a:hover {
  color: #d67e2a;
}
.breadcrumbs {
  margin: -30px 0 20px;
}
.breadcrumbs ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.breadcrumbs ul li {
  margin: 0;
  padding: 0;
}
.breadcrumbs ul li {
  display: inline-block;
}
.breadcrumbs ul li:after {
  content: '/';
  margin: 0 2px 0 4px;
}
.breadcrumbs ul li:last-child:after {
  display: none;
}
.breadcrumbs ul li a,
.breadcrumbs ul li span {
  color: #6d5280;
  text-decoration: none;
}
.breadcrumbs ul li a:hover,
.breadcrumbs ul li span:hover {
  color: #d67e2a;
}
.direction-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.direction-list ul li {
  margin: 0;
  padding: 0;
}
.direction-list ul li {
  border-bottom: 1px solid #cccccc;
  padding: 30px 0;
}
.direction-list ul li h3 {
  font-size: 30px;
  line-height: 32px;
  margin: 0 0 10px;
  font-family: "open_sans_condensedbold", Arial, sans-serif;
  font-weight: normal;
}
.direction-list ul li h3 a {
  text-decoration: none;
}
.direction-list ul li .img {
  width: 168px;
}
.direction-list ul li.left {
  padding-left: 195px;
}
.direction-list ul li.left .img {
  float: left;
  margin-left: -195px;
}
.direction-list ul li.right {
  padding-right: 195px;
}
.direction-list ul li.right .img {
  float: right;
  margin-right: -195px;
}
.direction-list ul li:last-child {
  border: none;
}
.direction-list__big ul li .img {
  width: 434px;
}
.direction-list__big ul li.left {
  padding-left: 454px;
}
.direction-list__big ul li.left .img {
  margin-left: -454px;
}
.direction-list__big ul li.right {
  padding-right: 454px;
}
.direction-list__big ul li.right .img {
  margin-right: -454px;
}
.art_list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.art_list ul li {
  margin: 0;
  padding: 0;
}
.art_list ul li {
  padding-left: 45px;
  margin: 0 0 20px;
}
.art_list ul li .art_list-meta {
  font-size: 18px;
  font-family: "open_sanslight", Arial, sans-serif;
  float: left;
  width: 45px;
  margin-left: -45px;
  margin-top: 8px;
}
.art_list ul li .art_list-content {
  font-family: "open_sans_condensedbold", Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  padding: 0 0 20px;
  border-bottom: 1px solid #ccc;
}
.art_list ul li .art_list-content a {
  text-decoration: none;
}
.art_list ul li:after {
  content: '';
  clear: both;
  display: block;
}
.art_list ul li.meta_normal {
  padding-left: 107px;
}
.art_list ul li.meta_normal .art_list-meta {
  width: 107px;
  margin-left: -107px;
}
.paging ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-family: "open_sanslight", Arial, sans-serif;
}
.paging ul li {
  margin: 0;
  padding: 0;
}
.paging ul li {
  display: inline-block;
  margin: 0 5px;
}
.paging ul li > * {
  color: #382a42;
  padding: 0 8px;
  text-decoration: none;
}
.paging ul li.active {
  background: #d67e2a;
}
.paging ul li.active > * {
  color: #fff;
}
.paging.for-arts {
  margin-left: 40px;
}
.paging.for-news {
  margin-left: 102px;
}
.contacts-block {
  background: url('../img/plate-bg.png');
  margin: 0 0 20px;
}
.overlay {
  background: url('../img/overlay-bg.png');
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  display: none;
  overflow-x: auto;
  padding-bottom: 200px;
}
.overlay .modal {
  width: 886px;
  height: auto;
  position: absolute;
  left: 50%;
  margin-left: -443px;
  background: #fff;
  z-index: 110;
  margin-top: 230px;
  margin-bottom: 100px;
}
.overlay .modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.overlay .modal .close a {
  display: inline-block;
  background: url('../img/close.png') no-repeat;
  height: 22px;
  width: 22px;
}
.overlay .modal .modal-inner {
  margin: 50px 40px;
  position: relative;
}
.overlay .modal .modal-inner .breadcrumbs {
  position: relative;
  margin-top: -30px;
}
.feedback_list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.feedback_list ul li {
  margin: 0;
  padding: 0;
}
.feedback_list ul .feedback_list-item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.project_list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: -3%;
}
.project_list ul li {
  margin: 0;
  padding: 0;
}
.project_list ul li {
  width: 30%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.22);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.22);
  float: left;
  height: 315px;
  margin: 0 3% 30px 0;
}
.project_list ul li a {
  text-decoration: none;
}
.project_list ul li .img {
  height: 215px;
}
.project_list ul li .img img {
  width: 100%;
  height: 100%;
}
.project_list ul li span {
  display: block;
  margin: 20px 20px 0 20px;
  position: relative;
  overflow: hidden;
  max-height: 60px;
}
.certs_list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: -2%;
}
.certs_list ul li {
  margin: 0;
  padding: 0;
}
.certs_list ul li {
  width: 23%;
  float: left;
  margin: 0 2% 30px 0;
  text-align: center;
}
.certs_list ul li a {
  text-decoration: none;
}
.certs_list ul li .img {
  margin: 0 0 10px;
}
.certs_list ul li .img img {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.22);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.22);
}
.file {
  background: url('../img/icon-file.png') no-repeat left center;
  padding-left: 30px;
}
.file a {
  text-decoration: none;
}
.img_description {
  font-family: "open_sansbold", Arial, sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  display: block;
}
.reference .date {
  font-family: "open_sanslight", Arial, sans-serif;
}
.reference .title {
  font-family: "open_sans_condensedbold", Arial, sans-serif;
  font-size: 18px;
}
.reference .title a {
  text-decoration: none;
}
.bottom {
  background: #333333 url('../img/bottom-bg.png');
  color: #fff;
  padding: 30px 0;
  font-size: 14px;
}
.bottom a {
  color: #fff;
}
.bottom .copy .sign {
  position: relative;
  margin: 0 0 0 -16px;
}
.bottom p {
  margin: 0 0 14px;
  line-height: 21px;
}
.bottom .bottom-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "open_sanslight", Arial, sans-serif;
}
.bottom .bottom-menu ul li {
  margin: 0;
  padding: 0;
}
.bottom .bottom-menu ul li {
  margin: 0 0 12px 0;
}
.bottom .bottom-menu ul li a {
  color: #71bae4;
  text-decoration: none;
}
.bottom .bottom-menu ul li a:hover {
  color: #9ccfec;
}
/* elemets */
.form-control {
  font-family: "open_sanslight", Arial, sans-serif;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn {
  background: #382a42;
  color: #fff;
  font-family: "open_sanslight", Arial, sans-serif;
  line-height: 50px;
  height: 50px;
  border: none;
  padding: 0 15px;
  font-size: 18px;
}
.has-error {
  position: relative;
}
.has-error:after {
  content: '!';
  font-family: "open_sansbold", Arial, sans-serif;
  position: absolute;
  right: 14px;
  font-size: 18px;
  color: #ff0000;
  top: 33px;
}
