{% extends '__base.html' %}
{% load menu_tags cms_tags sekizai_tags index %}

{% block popover %}

    <div class="overlay">
        <div class="modal">
            <div class="close"><a href="#"></a></div>

            <div class="modal-inner" id="modal-data">
                <div class="title">
                    <h2>Сообщение успешно отправлено</h2>
                </div>
                <div class="data">
                    Тут текст всплывающего окошка
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block container %}
<div class="container">
    <div class="row border-padding">
        <div class="col-xs-12">
            <div class="content">

                <h1>{% page_attribute "page_title" %}</h1>

                {% show_breadcrumb 0 "menu/breadcrumb.html" %}
            </div>
        </div>
    </div>
</div>

<div class="contacts-block">
    <div class="container">
        <div class="row border-padding">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="index-description-block">
                            {% placeholder contact %}
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
                        <script type="text/javascript" charset="utf-8">
                        ymaps.ready(function () {
                            var myMap = new ymaps.Map('map', {
                                    center: [56.83609, 60.614585],
                                    zoom: 17
                                }),
                                myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
                                    hintContent: 'Научно-инжиниринговый центр архитектуры и строительства'
                                }, {
                                    // Опции.
                                    // Необходимо указать данный тип макета.
                                    iconLayout: 'default#image',
                                    // Своё изображение иконки метки.
                                    iconImageHref: '{{ STATIC_URL }}img/map-marker.png',
                                    // Размеры метки.
                                    iconImageSize: [57, 72],
                                    // Смещение левого верхнего угла иконки относительно
                                    // её "ножки" (точки привязки).
                                    iconImageOffset: [-3, -42]
                                });

                            myMap.geoObjects.add(myPlacemark);
                        });
                        </script>
                        <div id="map" style="width: 100%; height: 350px"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row border-padding">
        <div class="col-xs-12">
            <div class="content">

                    <div class="row">
                        <div class="col-xs-6">
                            <h2>Реквизиты</h2>

                            <div id="contacts-data">
                                {% placeholder payment_data %}
                            </div>

                            <button class="btn btn-default" id="copyToClipboard" data-target="contacts-data">Скопировать</button>
                        </div>
                        <div class="col-xs-6">
                            <h2>Обратная связь</h2>
                            <div id="feedback_form">
                                {% feedback_form request %}
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
   <script type="text/javascript">
   $(document).ready(function(){
       $('#feedback_form form').submit(function(e){
           $.post('/feedback_form/', $(this).serialize(), function(data){
               $('#feedback_form').html(data);
           });
           return false;
       });
   })
   </script>
{% endblock %}