{% extends '__base.html' %}
{% load menu_tags cms_tags sekizai_tags index %}


{% block popover %}
    <div class="overlay">
        <div class="modal">
            <div class="close"><a href="#"></a></div>

            <div class="modal-inner" id="modal-data">

            </div>
        </div>
    </div>
{% endblock %}

{% block container %}
<div class="direction-block">
    <div class="container">
        <div class="row border-padding">
            <div class="col-xs-12">
                <div class="content">
                    <h3 class="arrow-right">
                        <a href="{% page_url 'direction_place' %}">{% page_attribute "page_title" 'direction_place' %}</a>
                    </h3>

                    {% get_directions %}
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row border-padding">
        <div class="col-xs-12">
            <div class="content">
                <div class="news">
                    <h3 class="arrow-right">
                        <a href="{% page_url 'news' %}">{% page_attribute "page_title" 'news' %}</a>
                    </h3>

                    {% get_news %}
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row border-padding">
        <div class="col-xs-12">
            <div class="content">

                <div class="solution">
                    <h3 class="arrow-right">
                        <a href="{% page_url 'solution_place' %}">{% page_attribute "page_title" 'solution_place' %}</a>
                    </h3>

                    {% get_solution %}
                </div>

                <div class="container-fuild">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="index-description-block">
                                <h4 class="index-h4 arrow-right"><a href="{% page_url 'aboute' %}">{% placeholder 'index_description_title' %}</a></h4>
                                {% placeholder 'index_description' %}
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="index-articles-block">
                                <h4 class="index-h4 arrow-right"><a href="{% page_url 'articles' %}">Последние статьи на сайте</a></h4>

                                {% get_articles %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}